* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    background-color: lightgrey;
    position: relative;
    height: 100vh;
    text-align: center;


}

#container {
    height: 690px;
    width:640px;
    background-color: white;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);


}
.riga-blocco {
    margin-top: 20px;
}
/* dimensioni e stile di ogni singola casella */
.casella {
    width: 200px;
    height: 300px;
    display: inline-block;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;

}
/* immagine della prima casella di ogni riga */
.casella:first-child{
    background-image: url(img/pc.jpg);
}
/* immagine della seconda casella di ogni riga */
.casella:nth-child(2){
    background-image: url(img/pixel.jpg);
}
/* immagine della terza casella di ogni riga */
.casella:nth-child(3){
    background-image: url(img/earbuds.jpg)
}
/* posizionamento dello sconto all'interno dei blocchi e stile normale */
.sconto {
    display: inline-block;
    position: absolute;
    z-index: 2;
    right: 0;
    background-color: red;
    }

[title]{
    background-color: green;
}
/* stile del cuore */
.cuore {
    display: inline-block;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    bottom: 0;
    color: red;
    opacity: 0;
    font-size: 300px;
}
/* hover */
.casella:hover .cuore {
    opacity: 0.7;
}
